.allskills img {
  background-color: #607b9645;
  display: block;
  margin: 0 auto;
}

.skillBox {
  transform-origin: 360px;
  transform: rotate(calc(360deg / 10 * var(--i)));
}
.skillBox .insideImg {
  transform: rotate(calc(-360deg / 10 * var(--i)));
}




@media only screen and (max-width: 768px) {
  .skillBox {
    transform-origin: 170px;
  }
}
